@use "tailwindcss";

@theme {
	--breakpoint-sm: 540px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1020px;
	--breakpoint-xl: 1440px;

	--spacing: 1px;

	--radius-lg: 1rem;
	--radius-l: 0.8rem;
	--radius-md: 0.8rem;
	--radius-sm: 0.25rem;

	--shadow: 1.5px 3px 3px hsl(0deg 0% 0% / 0.35);

	--shadow-inset-right: inset -5px 0 4px rgba(0, 0, 0, 0.1);
	--shadow-inset-bottom: inset 0 -5px 4px rgba(0, 0, 0, 0.1);
	--shadow-top: 0 -2px 2px hsl(0deg 0% 0% / 0.3);
	--shadow-bottom: 0 2px 2px hsl(0deg 0% 0% / 0.3);
	--shadow-input: 0 0 0 2px rgb(118, 16, 79);

	--color-primary: #74B1FB;
	--color-secondary: #2977F5;
	--color-dark: #1B2636;
	--color-accent: #76104F;
	--color-white: #F4F6F8;
}

html {
	@apply scroll-pt-64;
}

h1 {
	@apply text-[2.75rem] font-semibold uppercase;
}

h2,
h3 {
	@apply text-[1.6rem];
}

h3 {
	@apply font-semibold;
}

h4 {
	@apply text-[1.4rem];
}

h5,
a,
button {
	@apply text-[1.25rem];
}

h6,
.h6 {
	@apply text-[0.85rem] text-secondary block mt-12;
}

p {
	@apply text-[1rem] leading-22;
}

hr {
	@apply border-none bg-black;
}

.container {
	@apply mx-auto px-16;
}

.container-sm {
	@apply max-w-[818px];
}

.container-md {
	@apply max-w-[1020px];
}

.container-lg {
	@apply max-w-[1224px];
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.button {
	@apply text-[0.8rem] cursor-pointer px-8 py-6 rounded bg-black text-white;
}

.link {
	@apply text-accent underline cursor-pointer hover:text-secondary;
}

input,
textarea {
	@apply font-[inherit] p-8 bg-white rounded focus:shadow-input focus:outline-none;
}

.error {
	@apply border-red-600 border-1 border-l-6;
}

img,
a {
	-webkit-user-drag: none;
}